html, body, button, input, textarea {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 18px;
}

header {
  text-align: center;
}

button {
  background-color: #0079bf;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: .5em;
}

#login {
  display: none;
  font-size: 1.25em;
  margin: auto;
  align-items: center;
  cursor: pointer;
}

#login img {
  height: 20px;
  vertical-align: middle;
  margin-right: .5em;
}

#content {
  display: none;
  background: #E2E4E6;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px;
  width: 270px;
  margin: auto;
}

#list-title {
  font-weight: bold;
  margin: 0 0 9px;
}

#list {
  flex: 2;
}

.card {
  padding: 6px 8px;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 6px;
  background-color: white;
}

.card:hover {
  background-color: #fafafa;
}

.card-desc {
  background: url(trello-description.svg) no-repeat;
  width: 14px;
  background-size: contain;
  margin-top: 6px;
}

#new-card-title, 
#new-card-desc {
  margin-bottom: .5em;
  padding: .5em;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}

#new-card-desc {
  height: 100px;
}

#new-card-title.error {
  border: 1px solid #c52323;
}

#new-card-title-error {
  color: #c52323;
  display: none;
  margin: 0 0 .5em 0;
  font-size: .8em;
}

#new-card-button[disabled] {
  background-color: #5ca3cc;
}

/* http://tobiasahlin.com/spinkit/ */

.spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}