body {
  width: 600px;
  margin: auto;
  font-family: Lato, sans-serif;
}

h1 {
  text-align: center;
}

#login {
  display: none;
}

#content {
  display: flex;
}

.new-card {
  flex: 1;
  margin-left: 1em;
}

#new-card-title, #new-card-desc {
  margin-bottom: .5em;
  padding: .5em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-family: Lato, sans-serif;
  border-radius: .25em;
}

#new-card-button {
  background-color: #0079bf;
  color: white;
  border: 0;
  padding: .5em;
  border-radius: .25em;
}

#list {
  flex: 2;
}

.card {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: .25em;
  cursor: pointer;
}

.card:hover {
  background-color: #fafafa;
}

.card-title {
  font-weight: bold;
}

.card-desc {
  margin: 1em 0 0;
}

/* http://tobiasahlin.com/spinkit/ */

.spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}